<footer >
    <div class="foot">
    <a class="links" href=""><i class="fa-brands fa-twitter"></i></a>
    &nbsp;
    <a class="links" href=""><i class="fa-brands fa-facebook-f"></i></a>
    &nbsp;
    <a class="links" href=""><i class="fa-brands fa-instagram"></i></a>
    &nbsp;
    <a class="links" href=""><i class="fa-solid fa-envelope"></i></a>
    
    <p>© VVIT</p>
    </div>
  </footer>
  
</body>
</html>