<%- include("partials/header") -%> 
<title>Change Password</title>

<body class="text-center">

    <main class="form-signin w-100 m-auto">
        <div class="varible">
      <form action="/changepassword" method="post">
        <img class="mb-4" src="images/black.png" alt="" width="75" height="100">
        <h1 class="h3 mb-3 fw-normal">Change Password</h1>
    
        <div class="form-floating top">
          <input type="text" class="form-control top" name="username" placeholder="UserName">
          <label for="floatingInput">UserName</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control middle" name="currentPass" placeholder="Current Password">
          <label for="floatingPassword">Current Password</label>
        </div>
        <br>
        <div class="form-floating">
          <input type="password" class="form-control bottom" name="newPass" placeholder="New Password">
          <label for="floatingPassword">New Password</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control bottom" name="confirmNewPass" placeholder="Confirm New Password">
          <label for="floatingPassword">Confirm New Password</label>
        </div>
        <!-- <div class="form-floating">
          <input type="password" class="form-control bottom" name="confirmNewPass" placeholder="Confirm New Password">
          <label for="floatingPassword">Confirm New Password</label>
        </div> -->
        <!-- <div class="form-floating">
          <input type="password" class="form-control bottom" name="securityKey" placeholder="Security Key">
          <label for="floatingPassword">Security Key</label>
        </div> -->
        <select id="selectOption" name="type" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" onChange="modes()">
            <option value="" selected>Select type of User</option>
            <option value="1">Administrator</option>
            <option value="2">Counseller</option>
            <option value="3">Student</option>
          </select>
    
        <br>
        <button id="logbutton" class="w-100 btn btn-lg btn-primary" type="submit" disabled="true">Register</button>
      </form>
      <script src="script/index.js"></script>
    </div>
    </main>
    
    
    
    </body>
    </html>
    