<%- include("partials/header") -%>

<title>Conselling</title>

<body style="background-color: rgb(241, 175, 175);">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    
    <!-- TIttle -->
    <section id="title">

        <!-- Nav Bar -->
       <nav class="navbar navbar-expand-lg navbar-dark" id="navabar">
          <a class="navbar-brand" style="font-size: 3.5rem;" herf="">VVIT</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
              <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="https://www.vvitguntur.com/" href="https://www.vvitguntur.com/">Home</a>
                  </li>
              <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="" href="https://lms.imsprime.com/UI/Index/loginVVIT.php">Erp Login</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" herf="">Download</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Login Type
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/login">Login</a></li>
                      <li><a class="dropdown-item" href="/register">Register</a></li>
                    </ul>
                  </li>
              </ul>
          </div>
      </nav>
    
    
    
    
        <!-- Title -->
    
      
        <div class="row">
         <div class="col-lg-6 col-mg-12">
             <h1 style="font-family: montserrat; font-size: 2.5rem; font-weight: 800; line-height: 3rem; color: aliceblue;">vvit Counselling Groups</h1>

          </div>
            <div class="col-lg-6 col-mg-12" id="tile-img">
              <img id="title-img" src="/images/clg-img.jpeg" alt="vvit college">
            </div>
          </div>
          
          
    
      </section>
      <div style="background-color: white;">
        <hr class="fivedot" >
        <br>
      </div>
      <section id="features">

        <div id="feat" class="row">
          <div class="col-lg-4 col-mg-12">
            <div ><h1 class="feat"><i class="fa-sharp fa-solid fa-bullseye"></i></h1></div>
            <h3>Easy to use.</h3>
            <p>ashkdashd asjda dkha dad askjdhsj sdjahd  sjdh</p>
          </div>
          <div class="col-lg-4 col-mg-12">
            <div ><h1 class="feat"><i class="fa-solid fa-lightbulb"></i></h1></div>
            <h3>Guaranteed to work.</h3>
            <p>ndmfb fskjfhd fksfj dksdfh</p>
          </div>
          <div class="col-lg-4 col-mg-12">
            <div ><h1 class="feat"><i class="fa-solid fa-graduation-cap"></i></h1></div>
            <h3>Elite Clientele</h3>
            <p>asdfghjkdksfds dsfhgfhsgfhdf </p>
          </div>
          
        </div>
      </section>


      <!-- testimonials -->
      

      <section id="testimonials">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-interval="1000" data-pause="hover" style="padding: 3.5rem; background-color:#e25252" >
          <div class="carousel-inner">
            <div class="carousel-item active">
             
        <img class="testimonial-image" src="/images/img1.jpg" alt="dog-profile">
        <em>Pebbles, New York</em>
            </div>
            <div class="carousel-item">
              
        <img class="testimonial-image" src="/images/clg-img.jpeg" alt="lady-profile">
        <em>Beverly, Illinois</em>
            </div>
            
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
    
        
    
        
    
      </section>
      <div style="background-color: white;">
        <hr class="fivedot" >
        <br>
      </div>

      <%- include("partials/footer") -%>